<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Story Space</title>

    <style>
        @font-face {
            font-family: montserrat-regular;
            src: url(../static/fonts/Montserrat-Regular.otf);
        }
        
        @font-face {
            font-family: montserrat-semi;
            src: url(../static/fonts/montserrat-semibold.otf);
        }
        
        @font-face {
            font-family: montserrat-bold;
            src: url(../static/fonts/montserrat-bold.otf);
        }
        
        body {
            background-color: black;
        }
        
        .grid-item {
            float:left;
            background-color:#e6e7e8;
            margin-bottom:10px;
            width:25%;
            padding:15px;
            color: white;
            font-family: montserrat-regular;
        }
        
        .grid-item p.story{
            border-bottom-style: solid;
            border-width:3px;
            padding:10px;
        }
    </style>
</head>

<body>
    <!--top nav-->
    <!--
    <nav id=top-nav>
        <ul class="left-nav-logo">
            <li><img src="{{ url_for('assets', filepath='img/logo_small.png') }}" width=49 height=29></li>
        </ul>
        <ul class="left-nav">
            <li>Story Space</li>
            <li><a href="#" class="info-nav">About</a></li>
            <li><a href="#" class="contact-nav">Contact Us</a></li>
        </ul>
        <ul class="right-nav">
            <li class="filter"> Filter stories: </li>
            <li class="universe"><a id="race" class="shown" href="#">Race</a></li>
            <li class="universe"><a id="gender" class="shown" href="#">Gender</a></li>
            <li class="universe"><a id="sexuality" class="shown" href="#">Sexuality</a></li>
            <li class="universe"><a id="social_class" class="shown" href="#">Social Class</a></li>
            <li class="universe"><a id="all" class="shown" href="#">Show All</a></li>
            <li> | </li>
            <li id="share"><a href="#">Share your story!</a>
            </li>
            Search Bar (in progress)
            <li>
                <form name="search" id="search-bar">
                    <input type="text" name="search" placeholder="Search">
                </form>
            </li>
        </ul>
    </nav>
-->
    <!--list view-->
    <div class="grid">
        <div class="grid-item">
            <h1><!--marker + title-->Story number one</h1>
            <h3><!--location + name-->Davis, CA | by Kelly</h3>
            <p class=story-image>
                <!--image-->
            </p>
            <p class=story><!--story-->Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum tempor dictum. Vivamus placerat tortor sed dolor dapibus ullamcorper. Mauris aliquet, massa in dignissim semper, risus metus tincidunt enim, et auctor lectus erat eu massa. Duis augue orci, vehicula at hendrerit vel, fringilla a diam. Donec ac mattis dui, mollis pellentesque nisl. Vivamus sit amet convallis turpis, a tincidunt magna. Etiam faucibus porttitor magna vitae porta.</p>
            <footer><!--tags-->#race #gender #suburbia</footer>
        </div>
        <div class="grid-item">
            <h1><!--marker + title-->Story number two</h1>
            <h3><!--location + name-->San Francisco, CA | by Bob</h3>
            <p class=story-image>
                <!--image-->
            </p>
            <p class=story><!--story-->Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum tempor dictum. Vivamus placerat tortor sed dolor dapibus ullamcorper. Mauris aliquet, massa in dignissim semper, risus metus tincidunt enim, et auctor lectus erat eu massa. Duis augue orci, vehicula at hendrerit vel, fringilla a diam. Donec ac mattis dui, mollis pellentesque nisl. Vivamus sit amet convallis turpis, a tincidunt magna. Etiam faucibus porttitor magna vitae porta.</p>
            <footer><!--tags-->#race #gender #food</footer>
        </div>
        <div class="grid-item">
            <h1><!--marker + title-->Story number one</h1>
            <h3><!--location + name-->Davis, CA | by Kelly</h3>
            <p class=story-image>
                <!--image-->
            </p>
            <p class=story><!--story-->Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum tempor dictum. Vivamus placerat tortor sed dolor dapibus ullamcorper. Mauris aliquet, massa in dignissim semper, risus metus tincidunt enim, et auctor lectus erat eu massa. Duis augue orci, vehicula at hendrerit vel, fringilla a diam. </p>
            <footer><!--tags-->#race #gender #suburbia</footer>
        </div>
        <div class="grid-item">
            <h1><!--marker + title-->Story number one</h1>
            <h3><!--location + name-->Davis, CA | by Kelly</h3>
            <p class=story-image>
                <!--image-->
            </p>
            <p class=story><!--story-->Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum tempor dictum. Vivamus placerat tortor sed dolor dapibus ullamcorper. Mauris aliquet, massa in dignissim semper, risus metus tincidunt enim, et auctor lectus erat eu massa. Duis augue orci, vehicula at hendrerit vel, fringilla a diam. Donec ac mattis dui, mollis pellentesque nisl. </p>
            <footer><!--tags-->#race #gender #suburbia</footer>
        </div>
        <div class="grid-item">
            <h1><!--marker + title-->Story number one</h1>
            <h3><!--location + name-->Davis, CA | by Kelly</h3>
            <p class=story-image>
                <!--image-->
            </p>
            <p class=story><!--story-->Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum tempor dictum. Vivamus placerat tortor sed dolor dapibus ullamcorper. Mauris aliquet, massa in dignissim semper, risus metus tincidunt enim, et auctor lectus erat eu massa. Duis augue orci, vehicula at hendrerit vel, fringilla a diam. Donec ac mattis dui, mollis pellentesque nisl. Vivamus sit amet convallis turpis, a tincidunt magna. Etiam faucibus porttitor magna vitae porta. Vivamus sit amet convallis turpis, a tincidunt magna. Etiam faucibus porttitor magna vitae porta.</p>
            <footer><!--tags-->#race #gender #suburbia</footer>
        </div>
        
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../static/js/masonry.pkgd.min.js"></script>
    <script>
        console.log("ready");
        
        $('.grid').masonry({
           itemSelector:'.grid-item',
            gutter:10,
        });
    </script>
</body>

</html>