 @font-face {
     font-family: montserrat-regular;
     src: url(../static/fonts/Montserrat-Regular.otf);
 }
 
 @font-face {
     font-family: montserrat-semibold;
     src: url(../static/fonts/montserrat-semibold.otf);
 }
 
 @font-face {
     font-family: montserrat-bold;
     src: url(../static/fonts/montserrat-bold.otf);
 }
 
 @font-face {
     font-family: neuton;
     src: url(../static/fonts/neuton-regular.ttf);
 }
 
 body {
     background-color: black;
 }

.grid{
    position: absolute;
    top:70px;
    left:20px;
}
 
 .grid-item {
     width: 28%;
     float: left;
     background-color: #e6e7e8;
     margin-bottom: 20px;
     color: #231f20;
     padding: 0px 20px 15px 20px;
 }
 
 .grid-item h1 {
     font-family: montserrat-semibold;
     font-size: 26px;
     margin-top: 15px;
 }
 
 .grid-item h3 {
     font-family: montserrat-regular;
     font-size: 14px;
     padding: 3px 0px 5px 0px;
     border-bottom: 1.5px solid;
 }
 
 .grid-item p.story-image img {
     width: 100%;
     margin-top:10px;
 }
 
 .grid-item p.story {
     font-family: neuton;
     font-size: 18px;
 }
 
 .grid-item footer {
     border-top: 1.5px solid;
     margin-top: 10px;
     padding-top: 10px;
     font-family: montserrat-regular;
     font-size: 14px;
 }