* {
    margin: auto;
    padding: 0;
}

@font-face {
    font-family: montserrat-regular;
    src: url(/assets/fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserrat-semi;
    src: url(/assets/fonts/montserrat-semibold.otf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/assets/fonts/montserrat-bold.otf);
}

@font-face {
    font-family: montserrat-light;
    src: url(/assets/fonts/Montserrat-Light.otf);
}

body {
    background-color: black;
}

section#welcome-overlay {
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, .8);
    color: white;
    font-family: montserrat-regular;
}

section#welcome-overlay #welcome-text-container {
    margin-top: 150px;
    width: 8in;
}

section#welcome-overlay article {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}

section#welcome-overlay ul#share-location li {
    list-style-type: none;
    display: inline;
}

section#welcome-overlay ul#share-location li a {
    background-color: white;
    border-radius: 5px;
    font-family: montserrat-semi;
    border: 0px solid;
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

section#welcome-overlay ul#share-location li a:hover {
    background-color: darkgray;
}

section#about-overlay,
section#contact-overlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(50, 50, 50, .8);
    font-family: montserrat-regular;
    color: white;
}

section#about-overlay h2,
section#contact-overlay h2 {
    margin-top: 120px;
    margin-bottom: 40px;
    width: 8in;
}

section#about-overlay p,
h3,
section#contact-overlay p {
    margin-top: 15px;
    padding: 0px 100px 0px 100px;
    width: 8in;
}

section#about-overlay p,
section#contact-overlay p {
    font-size: 15px;
}

section#contact-overlay a:link {
    text-decoration: none;
    color: white;
}

section#about-overlay nav#about-close a,
section#contact-overlay nav#contact-close a {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 35px;
    border: 2px solid white;
    width: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
}

section#about-overlay nav#about-close a:hover,
section#contact-overlay nav#contact-close a:hover {
    color: darkgray;
}

nav#top-nav {
    font-family: montserrat-regular;
    position: absolute;
    width: 100%;
    font-size: 12px;
    padding: 20px 5px 35px 15px;
    background-color: #262626;
}

.info-nav,
.contact-nav {
    font-family: montserrat-regular;
    font-size: 10px;
}


/*nav#top-nav ul.left-nav-logo li img {
    position: absolute;
    top: 28px;
}*/

.left-nav {
    position: absolute;
    left: 25px;
}

.left-nav li:first-child {
    font-family: montserrat-semibold;
}

.right-nav {
    position: absolute;
    right: 25px;
}

nav#top-nav ul li {
    display: inline;
    margin-right: 15px;
    color: lightgray;
}

nav#top-nav ul li.filter {
    font-family: montserrat-regular;
    font-size: 10px;
    margin-left: 60px;
}

nav#top-nav ul li a {
    color: #b6a536;
    text-decoration: none;
    cursor: pointer;
}

nav#top-nav ul li.universe a {
    padding: 5px 15px 5px 15px;
    color: black;
    text-decoration: none;
    height: 20em;
}

nav#top-nav ul li.universe a#race.shown {}

nav#top-nav ul li.universe a#race:not(.shown) {
    border: 2px solid;
    border-color: #C994F8;
    background-color: #262626;
    color: #C994F8;
}

nav#top-nav ul li.universe a#gender:not(.shown) {
    border: 2px solid;
    border-color: #B8E986;
    background-color: #262626;
    color: #B8E986;
}

nav#top-nav ul li.universe a#sexuality:not(.shown) {
    border: 2px solid;
    border-color: #87E1F5;
    background-color: #262626;
    color: #87E1F5;
}

nav#top-nav ul li.universe a#social_class:not(.shown) {
    border: 2px solid;
    border-color: #EFD63F;
    background-color: #262626;
    color: #EFD63F;
}

nav#top-nav ul li.universe a#all:not(.shown) {
    border: 2px solid;
    border-color: #DADADA;
    background-color: #262626;
    color: #DADADA;
}

nav#top-nav ul li.universe a#race {
    background-color: #C994F8;
    border: 2px solid;
    border-color: #C994F8;
}

nav#top-nav ul li.universe a:hover,
nav#top-nav ul li#share a:hover {
    text-shadow: 0px 0px 2px;
}

nav#top-nav ul li.universe a#gender {
    background-color: #B8E986;
    border: 2px solid;
    border-color: #B8E986;
}

nav#top-nav ul li.universe a#sexuality {
    background-color: #87E1F5;
    border: 2px solid;
    border-color: #87E1F5;
}

nav#top-nav ul li.universe a#social_class {
    background-color: #EFD63F;
    border: 2px solid;
    border-color: #EFD63F;
}

nav#top-nav ul li.universe a#all {
    background-color: #262626;
    color: #DADADA;
    border: 2px solid;
    border-color: #DADADA;
}

nav#top-nav ul li#share a {
    border: 2px solid;
    border-color: #DADADA;
    padding: 5px 15px 5px 15px;
    background-color: #DADADA;
    color: #262626;
    text-decoration: none;
}


/*
nav#top-nav ul li form#search-bar input {
    background: none;
    position: absolute;
    top: 15px;
    right: 80px;
    padding: 5px 8px 5px 15px;
    border-radius: 5px;
    font-family: montserrat-semi;
    color: white;
}
*/

section#instruction-bar h2 {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    color: white;
    font-family: montserrat-regular;
    font-size: 12px;
    text-align: center;
    padding: 20px 0px 15px 0px;
    background: black;
}


/*share overlay*/

section#share-overlay {
    margin-left: 250px;
    width: 55%;
    height: 80%;
    position: absolute;
    top: 65px;
    border-radius: 7px;
    background-color: rgba(50, 50, 50, .9);
    visibility: hidden;
    font-family: montserrat-semibold;
    color: white;
    padding: 30px 30px 0px 100px;
}

section#share-overlay h2 {
    float: left;
    font-family: montserrat-semi;
    color: white;
    font-size: 30px;
}

section#share-overlay form#share-form {
    font-family: montserrat-semi;
    color: white;
}

section#share-overlay form#share-form #title-input,
#name-input {
    width: 500px;
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    border: none;
    font-family: montserrat-semi;
}

section#share-overlay form#share-form textarea {
    width: 500px;
    height: 150px;
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    font-family: montserrat-semi;
}

section#share-overlay form#share-form input[type="submit"] {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-family: montserrat-semi;
    border: none;
}

section#share-overlay form#share-form input[type="submit"]:hover {
    background-color: darkgray;
}

section#share-overlay nav#share-close a {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 35px;
    border: 2px solid white;
    width: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: montserrat-semi;
}

section#share-overlay nav#share-close a:hover {
    color: darkgray;
}

#mapid {
    position: absolute;
    height: 100%;
    width: 100%;
}

img.storyimage {
    position: relative;
    width: 100%;
}

div.leaflet-div-icon {
    background: transparent;
    border: none;
}

svg.story_icon {
    height: 100%;
    width: 100%;
}

svg.story_icon .race {
    fill: #C994F8;
}

svg.story_icon .gender {
    fill: #B8E986;
}

svg.story_icon .sexuality {
    fill: #87E1F5;
}

svg.story_icon .social_class {
    fill: #EFD63F;
}