* {
    margin: auto;
    padding: 0;
}

@font-face {
    font-family: montserrat-regular;
    src: url(/assets/fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserrat-semi;
    src: url(/assets/fonts/montserrat-semibold.otf);
}

nav#top-nav {
    font-family: montserrat-regular;
    position: absolute;
    width: 100%;
    font-size: 12px;
    padding: 20px 0px 35px 15px;
    background-color: #262626;
}

.info-nav,
.contact-nav {
    font-family: montserrat-regular;
    font-size: 10px;
}


/*nav#top-nav ul.left-nav-logo li img {
    position: absolute;
    top: 28px;
}*/

.left-nav {
    position: absolute;
    left: 25px;
}

.left-nav li:first-child {
    font-family: montserrat-semibold;
}

.right-nav {
    position: absolute;
    right: 25px;
}

nav#top-nav ul li {
    display: inline;
    margin-right: 15px;
    color: #DADADA;
}

nav#top-nav ul li.filter {
    font-family: montserrat-regular;
    font-size: 10px;
    margin-left: 60px;
}

nav#top-nav ul li a {
    color: #b6a536;
    text-decoration: none;
    cursor: pointer;
}

nav#top-nav ul li.universe a {
    padding: 5px 15px 5px 15px;
    color: black;
    text-decoration: none;
    height: 20em;
    border: 2px solid transparent;
}

nav#top-nav ul li.universe a.shown {
    opacity:1;
}

nav#top-nav ul li.universe a:not(.shown) {
    opacity:.5;
}

nav#top-nav ul li.universe a#race {
    background-color: #B071E7;
}
nav#top-nav ul li.universe a#race:hover {
    background-color: #8455AD;
}

nav#top-nav ul li.universe a#gender {
    background-color: #EFD63F;
}
nav#top-nav ul li.universe a#gender:hover {
    background-color: #B3A12F;
}

nav#top-nav ul li.universe a#sexuality {
    background-color: #38CDEF;
}

nav#top-nav ul li.universe a#sexuality:hover {
    background-color: #2A9AB3;
}

nav#top-nav ul li.universe a#social_class {
    background-color: #F49E47;
}

nav#top-nav ul li.universe a#social_class:hover {
    background-color: #B77735;
}

nav#top-nav ul li.universe a#all {
    background-color: #262626;
    color: #DADADA;
    border-color: #DADADA;
}

nav#top-nav ul li.universe a#all:hover {
    color: #A4A4A4;
    border-color: #A4A4A4;
}

nav#top-nav ul li#share a {
    padding: 5px 15px 5px 15px;
    background-color: #DADADA;
    color: #262626;
    text-decoration: none;
    border: 2px solid transparent;
}

nav#top-nav ul li#share a:hover {
     background-color: #A4A4A4;
}

/*
nav#top-nav ul li form#search-bar input {
    background: none;
    position: absolute;
    top: 15px;
    right: 80px;
    padding: 5px 8px 5px 15px;
    border-radius: 5px;
    font-family: montserrat-semi;
    color: white;
}
*/